@model OnlineShop.Entity.Models.Product


<form method="post">
    <h2>Product Entry</h2><hr />
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" asp-for="ProductName" class="form-control" placeholder="enter product name" required />
    </div>
    <div class="form-group">
        <label>Short Description</label>
        <input type="text" asp-for="ShortDescription" class="form-control" placeholder="enter short desc" required />
    </div>
    <div class="form-group">
        <label> Long Description</label>
        <input type="text" asp-for="LongDescription" class="form-control" placeholder="enter long desc" required />
    </div>
    <div class="form-group">
        <label>Cost</label>
        <input type="text" asp-for="Cost" class="form-control" placeholder="enter product Cost" required />
    </div>
    <div class="form-group">
        <label>Stock Avalability</label>
        <input type="text" asp-for="InStock" class="form-control" placeholder="enter availability" required />
    </div>
    <div class="form-group">
        <label>Category</label>
        <input type="text" asp-for="CategoryId" class="form-control" placeholder="enter CategoryId" required />
    </div>

    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>
