@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    
    <hr />
</div>*@

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="container-fluid">
                <div class="carousel-item active" data-timer="10000">
                    <img class="d-block w-100" src="~/img/slider1.jpg" alt="First slide" width="900" height="400">
                </div>
                <div class="carousel-item" data-timer="10000">
                    <img class="d-block w-100" src="~/img/slider2.jpg" alt="Second slide" width="900" height="400">
                </div>
                <div class="carousel-item" data-timer="10000">
                    <img class="d-block w-100" src="~/img/slider3.png" alt="Third slide" width="900" height="400">
                </div>
            </div>
        </div>
</div>
<p>New Arrivals</p>
<div class="row">
    @*should be 12 based column*@
    <div class="col-4">
        <div class="card">
            <img src="~/img/Kids1.jfif" class="card-img-top" alt="..." width="250" height="250">

            <div class="card-body">
                <h5 class="card-title">Leather casual Stylish Look</h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="~/img/women1.jfif" class="card-img-top" alt="..." width="250" height="250">

            <div class="card-body">
                <h5 class="card-title">Fashion Style Wear</h5>
            </div>

        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="~/img/frnt2.jfif" class="card-img-top" alt="..." width="250" height="250">

            <div class="card-body">
                <h5 class="card-title">World Wear footwear</h5>
            </div>

        </div>
    </div>
</div>
    
    
    